    #search-character-group {

        _min-height: 120px;
        _position: absolute;
        _top: 150px;
    }

    input {
        height: 50px;
    }

    .search-results {
        margin-top: 20px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body {
        background-color: #1f1f1f;
    }

    .thumbnail {
        width: 250px;
        background-color: black;
    }

    .characInfo {
        display: block;
        text-align: center;
    }

    .characName {
        color: white;
        font-size: 130%;
        display: block;
        text-align: center;
    }

    .thumbnail img {
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

    button.btn.btn-danger {
        color: black !important;
    }

    #header {
        background-color: #0a0a0a;
        height: 60px;
    }

    .logo-link,
    .logo-link:hover {
        color: white
    }

    .logo-link:hover {
        text-decoration: underline;
    }

    .search-form {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../img/Game-of-Thrones logo.jpg");
        background-position: center;
        background-size: cover;
        height: 150px;
        padding: 50px;
    }

    .characters-body{
      margin-top:15px;
    }