    *{
      font-family: 'Cinzel Decorative', cursive;
    }

    #search-character-group {

        _min-height: 120px;
        _position: absolute;
        _top: 150px;
    }
    input {
        height: 50px;
    }
    .search-results {
      margin-top: 20px;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    body{
      background-color: #1f1f1f;
    }

    .thumbnail {
      width: 250px;
      background-color: black;
      border-color:red;
    }
    .characInfo{
        display:block;
        text-align: center;
    }
    .characName{
        color: white;
        font-size: 130%;
        display:block;
        text-align: center;
    }
    .thumbnail img {
      height: 300px;
      width: 100%;
      background-size: cover;
      background-position: center center;
      border-color:black;
    }
    button.btn.btn-danger{
    color: black !important;
    font-weight: bold;
    }
    #header{
        background-color:#0a0a0a;
        height: 60px;
    }

.logo-link, .logo-link:hover {
    color: white;
     font-weight: 900;
}

.logo-link:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/Game-of-Thrones logo.jpg");
    background-position: center;
    background-size:cover;
    height: 150px;
    padding: 50px;
}

.title h1{
  font-size: 260%;
  color:#E1BD11;
  font-weight: 900;
}
.detailsPage{
  margin-top:2%;
}

.details{
  margin-top:3%;
}
.characterImg{
  border: 2px solid #FFD673;
  height:400px;
  max-width: 100%;
}
.description{
  color:white;
  line-height: 2;
  font-size:120%;
  padding-left: 5%;
  padding-top: 5%;
}
p > span{
  font-size:120%;
  padding-left: 2%;
}