    #search-character-group {

        _min-height: 120px;
        _position: absolute;
        _top: 150px;
    }
    #search-box{
        opacity:0.7;        
    }
    
    input {
        height: 50px;
    }

    .jumbotron{
        background-image: url("../img/Game-of-Thrones logo.jpg");
        background-position: center;
        background-size:cover;
        height: 300px;
    }





    {
            width: 250px;
            max-width: 250px;
            border: 1px solid black;
            padding-top:1%;
            padding-bottom:1%;
            margin:1.5%;
            background-color:black;
            color:white;
            border-radius: 4%;

        }
        .cards{
            max-width: 100%;
        }
        .name{
            display:block;
            text-align: center;
            font-size: 130%;
            margin-top: 2%;
            margin-bottom:2%;
        }
        .results{
            text-align:center;
            margin-top:5%;
        }
