    * {
        font-family: 'Cinzel Decorative', cursive;
    }

    #search-character-group {

        _min-height: 120px;
        _position: absolute;
        _top: 150px;
    }

    input {
        height: 50px;
    }

    .search-results {
        margin-top: 20px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body {
        background-color: #1f1f1f;
    }

    .thumbnail {
        width: 250px;
        background-color: black;
        border-color: #CC0E04;
    }

    .characInfo {
        display: block;
        text-align: center;
    }

    .characName {
        color: white;
        font-size: 130%;
        display: block;
        text-align: center;
    }

    .thumbnail img {
      height: 300px;
      width: 100%;
      background-size: cover;
      background-position: center center;
      border:1px solid black !important;
    }
    button.btn.btn-danger{
    color: black !important;
    font-weight: bold;
    }
    #header{
        background-color:#0a0a0a;
        height: 60px;
        padding-top:1.5%;
    }

.logo-link, .logo-link:hover {
    font-size:130%;
    color: white;
     font-weight: 900;
}

.logo-link:hover {
    text-decoration: underline;
}


.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner-flags.jpg");
    background-position: center;
    background-size:cover;
    height: 150px;
    padding: 50px;
}

.title h1{
  font-size: 260%;
  color:#E1BD11;
  font-weight: 900;
}

.searchTitle{
    display:block;
  text-align:center;
}
.searchTitle  h1{
  font-size: 260%;
  color:#FCF6B6;
  font-weight: 900;
  text-shadow: -2px -2px 1px #C47700, 2px 2px 1px #C47700, -2px 2px 1px #C47700, 2px -2px 1px #C47700;
}
.detailsPage{
  margin-top:2%;
}

.details{
  margin-top:3%;
}
.characterImg{
  border: 2px solid #FFD673;
  height:400px;
  max-width: 100%;
  width:100%;
  background-size:cover;
}
.description{
  color:white;
  line-height: 2;
  font-size:120%;
  padding-left: 5%;
  padding-top: 5%;
}
p > span{
  font-size:120%;
  padding-left: 2%;
}
.house{
  background-color: #515151;
  border-radius:3%;
  color:white;}
.houseBox > img{
  width:60%;
  text-align:center;
  padding-top: 5%;
}
        footer{
            font-size:80%;
            padding-right: 6%;
            padding-left: 6%;
            padding-top:1%;
            padding-bottom:1%;
            background-color: black;
            position:fixed;
            bottom: 0px;
            display: flex;   
            flex-wrap: wrap;
            justify-content: space-between;
            width:100vw;
        }
        footer > a:link, footer > a, footer > a:hover{
          text-decoration:none;
          color:white;
        }

.homeBackground{
            background-image: url("../img/defuaultImg.jpg");
            opacity:0.5;
            background-size:cover;
            width:100vw;
            height: 85vh;
        }
        .seeker{
            color; white;
            position:absolute;
            left:36%;
            top:50%;
            max-width: 30%
        }
        .seeker >button{
            float:right;
        }
        .seekerButton{
            padding:0px;
            border:0px;
        }
        .btn-back{
          color:#DC0A0A;
          font-size: 350%;
          float:left;
          cursor:pointer; 
          cursor: hand;
          text-shadow: -1px -1px 1px #EDD36A, 1px 1px 1px #EDD36A, -1px 1px 1px #EDD36A, 1px -1px 1px #EDD36A;
        }
        .btn-back:hover{
          text-shadow: -1px -1px 1px #DC0A0A, 1px 1px 1px #DC0A0A, -1px 1px 1px #DC0A0A, 1px -1px 1px #DC0A0A;
          color:#EDD36A;
        }
        .logo-nav{
          max-height: 100%;
          position:relative;
        }