    <div class="jumbotron">
    <div class="container">
        <div class='buscador' ng-controller="searchCharacterController as charCtrl">
            <div class='row'>
                <div class="col-lg-6 col-lg-offset-3 text-center" id="search-character-group" top:140px ">
                    <div class="input-group ">
                        <input ng-model='charCtrl.query' type="text " class="form-control " id="search-box" placeholder="Search for a character ">
                        <span class="input-group-btn "> <button ng-click='charCtrl.searchChar()' class="btn btn-default " type="button "><i class="glyphicon glyphicon-search "></i></button> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<!-- *************************************-->

</div>
   <div class="results " ng-controller="ShowResultsController">
        <div class="row ">
            <div class="col-xs-2 test " ng-repeat="character in found">
                <img class="cards " src="http://via.placeholder.com/150x150"> <!-- src="img/mapa-got.jpg " -->
                <span class="name ">{{character.name}}</span>
                <a ng-href="#!/{{character._id}}" class="btn btn-danger" >Go to details</a>
            </div>
        </div>
    </div>
</body>

</html>