<!DOCTYPE html>
<html ng-app="GOTFreak" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GOTFreak</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body >
    <div ng-controller="searchCharacterController as charCtrl" class='container'>
        <div class='row'>
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input ng-model='charCtrl.query' type="text" class="form-control" placeholder="Search for...">
                    <button ng-click='charCtrl.searchChar()' class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class='col-lg-6 col-lg-offset-3'>
                <ul>
                    <li ng-repeat="charac in charCtrl.found"><a ng-href="#">{{charac.name}}</a> / <a ng-href="#">{{charac.house}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/controllers/charactersController.js"></script>
</body>

</html>