<form class="search-form" ng-submit="vm.searchCharacter()" ng-controller="SearchFormController as vm">
    <div class="input-group">
        <input ng-model='show.query' type="text " class="form-control input-lg" id="search-box" placeholder="Search for a character ">
        <span class="input-group-btn "> <button class="input-lg btn btn-default " type="button "><i class="glyphicon glyphicon-search "></i></button> </span>
    </div>
</form>

<div class="container">
    <span class="searchTitle" ng-show="show.found"><h1>CHARACTERS "{{ show.query }}" FOUND</h1></span>
    <div class="search-results">
        <div class="thumbnail" ng-repeat="character in show.found">
            <img ng-style="{'background-image':'url(' + show.getImageCharacter(character.imageLink) + ')'}">
            <div class="caption characInfo">
                <span class="characName">{{character.name}}</span>
                <a ng-href="#!/character/{{character.slug}}">
                    <button class="btn btn-danger">See details</button>
                </a>
            </div>
        </div>
    </div>

</div>
